body {
    background-color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    background-color: aqua;
    flex: 1;
    
}

.center {
    background-color: bisque;
    flex: 2;
}

.right   {
    background-color: blue;
    flex: 1;
}