* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

 body {
    line-height: 1.4;
    color: #fff;
 }

 /* Header */
 header {
    
    background-color: blueviolet;
 } 
 

 .header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
 }

 .navbar {
    display: flex;
    align-items: center;
    
 }

 .navbar li a {
    padding: .5rem;
 }
