// Үндсэн стайл
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1rem;
    background-color: #18191a;
    color: #b0b3b8;
    overflow-x: none;
}

a {
    text-decoration: none;
    color: #b0b3b8;
}

// Utility class
.main-color {
    background-color: #18191a;
}

.sup-color {
    background-color: #3a3b3c;
}

.icon-color {
    background-color: #b0b3b8;
}
.padding {
    padding: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.padding:hover {
    background-color: #3a3b3c;
    border-radius: 8px;
}

// Navbar style
nav {
    height: 56px;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #3a3b3c;
    margin: 0 1rem 0 .5rem;
}

.navbar .logo {
    display: flex;
    align-items: center;
    align-content: center;

}

.navbar .logo .picture {
    width: 40px;
    height: 40px;
    padding-right: .5rem;
}

.navbar .logo .input {
    border-radius: 20px;
    padding: .5rem;    
    display: flex;
    align-items: center;
}

.navbar .logo .input .glass {
    padding-right: .5rem;
}

.navbar .logo .input input {
    outline: none;
    border: none;
    color: #b0b3b8;
}

.navbar .icons {
    align-self: center;
    display: flex;
    align-items: center;
    align-content: center;
}



.navbar .icons .daragdsan {
    color: #0866ff;    
    border-bottom: 2px solid #0866ff;
}

.navbar .sign {
    display: flex;
    align-items: center;
}

.navbar .sign .markup {
    position: relative;
}
.navbar .sign .markup .mark {
    position: absolute;
    background-color: red;
    top: -2px;
    left: 26px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.navbar .sign .markup .mark:after {
    content: '16';
    position: absolute;
    font-size: 11px;
    top: 1px;
    left: 3px;
}

.navbar .sign .circle {
    padding: .6rem;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.navbar .sign .circle:hover {
    background-color: #5f5f69;
    
}

.navbar .sign .my-picture img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}


// Sidebar styles
.container .content .left {
    flex: 1;
}

.sidebar {
    flex: 1.7;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ccc;
    font-weight: 600;
    margin-top: 1rem;
    overflow: hidden;
}

.sidebar:hover {
    overflow-y: scroll;
}

.sidebar .page-icon {
    display: flex;
    align-items: center;
    padding: .3rem  ;
    transition: all .2s ease-in;
    
}

.sidebar .page-icon img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    
}

.sidebar .page-icon .my-icon {
    margin-right: .75rem;
}

.sidebar .page-icon .circle {
    background-color: #303031;
    padding: .5rem .55rem;
    border-radius: 50%;
    margin-left: .1rem;
}
.sidebar .last-child  {
    border-bottom: 1px solid #3a3b3c;
}

.sidebar .page-icon:hover {
    background-color: #3a3b3c;
    border-radius: 12px;
    cursor: pointer;
}

.sidebar .shortcuts {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.sidebar .shortcuts .shortcut {
    display: flex;

}

.sidebar .shortcuts .shortcut img {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    margin-right: .5rem;
}

.container .content {
    padding: .3rem;
    display: flex;
}

.container .content .center {
    height: 100vh;
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

.container .content .center .stories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding:0;
    margin: 0 4rem;
}

.container .content .center .stories .story .dot p {
    color: #fff;
}

.container .content .center .stories .story {
    border-radius: 5px;
    padding: 1rem ;    
    height: 200px;
    width: 110px;
    position: relative;
    cursor: pointer;
    transition: all .2s ease;
}

.container .content .center .stories .story:hover {
    transform: scale(1.05);
}

.container .content .center .stories .story::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.container .content .center .stories .story img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 3px solid #0866ff;
    position: relative;
}


.container .content .center .stories .story .live {
    position: absolute;
    top: 42px;
    left: 47px;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.container .content .center .stories .story .dot {
    position: absolute;
    top: 193px;
    left: 26px;
}

.container .content .center .stories .story1 .dot {
    position: absolute;
    top: 193px;
    left: 40px;
}

.container .content .center .stories .story2 {
    background: url('https://scontent.fuln6-1.fna.fbcdn.net/v/t15.5256-10/389334063_640672514720678_6705643269510267910_n.jpg?stp=dst-jpg_s280x280&_nc_cat=107&ccb=1-7&_nc_sid=1a7029&_nc_ohc=zmGgrW1QqVwAX_rmliT&_nc_ht=scontent.fuln6-1.fna&oh=00_AfB0yXGqAOof4aMbN-Xj87ccnBQ3X_oyMCCLgvFtOThYvg&oe=6530314E') no-repeat center center/cover;
}
.container .content .center .stories .story3 {
    background: url('https://scontent.fuln6-2.fna.fbcdn.net/v/t15.5256-10/392799163_338723525324441_8952849044776212021_n.jpg?stp=dst-jpg_s280x280&_nc_cat=103&ccb=1-7&_nc_sid=1a7029&_nc_ohc=nxBJLCrShG0AX9z_uNe&_nc_ht=scontent.fuln6-2.fna&oh=00_AfAugj8x4QxhLkrv1EDciYvxQ-ugijtBG5bOm3ts2JbfWw&oe=652FB536') no-repeat center center/cover;
}
.container .content .center .stories .story4 {
    background: url('https://scontent.fuln6-2.fna.fbcdn.net/v/t39.30808-6/391569868_291010877071056_5758083373136907321_n.jpg?stp=dst-jpg_s280x280&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=NoH5JJL9YyUAX_zRu0-&_nc_ht=scontent.fuln6-2.fna&oh=00_AfDk0WNXmeIB-7rIbsqbJKN2QtQrwzeWyGsKubV0nE0XDw&oe=6530A498') no-repeat center center/cover;
    margin-right: 0;
}

.container .content .center .stories .content .story1 {
    background: #3a3b3c url('../icons/profile.jpg') no-repeat center center/cover;
    height: 60%;    
}

.container .content .center .stories .story1 i {
    background-color: #0866ff;
    padding: .5rem;
    border-radius: 50%;
    border: 4px solid #3a3b3c;
    position: absolute;
    top: 153px;
    left: 53px;
}

.container .content .center .stories .story p {
    font-size: 12px;
}

.container .content .center .stories .content {
    background-color: #3a3b3c;
    padding: 0;
    border-radius: 5px;
}

.container .content .center .stories {
    margin: 0 5rem;
}

.container .content .center .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .center .head img{
    border-radius: 50%;
    margin-right: 1rem;
}

.container .content .center .head .logo_texts {
    display: flex;
    align-items: center;    
}

.post .container {
    display: flex;
    flex-direction: column;
    margin: 1rem 7rem;
    background-color: #242526;
    padding: 1rem;
    border-radius: 10px;
}

.post .container .post_img {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #303031;
    margin-bottom: 1rem;
}



.post .container .post_img img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 1rem;
    align-self: center;
}

.post .container .post_img input {
    background-color: #3a3b3c;
    padding: 0.75rem;
    border: none;
    border-radius: 15px;
    outline: none;
    color: #fff;
    width: 100%;
    font-size: 16px;
}

.post .container .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .container .icons .icon {
    display: flex;    
    align-items: center;
    padding: .3rem 1rem;
    transition: all .2s ease-in;
}

.post .container .icons .icon:hover {
    background-color: #3a3b3c;
    border-radius: 10px;
}

.post .container .icons .icon img {
    width: 28px;
    height: 28px;
    margin-right: .75rem;
}

.container .content .center .post-body .logo_with_text .profile img{    
    border: 3px solid #0866ff;
}

.container .content .center .post-body .two-div {
    background-color: #242526 ; 
    padding: 0 1rem;
    margin: 0 7rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0  ;
    ;
}

.container .content .center .post-body .two-div .head {
    display: flex;
    align-items: center;
}

.container .content .center .post-body .two-div .head .logo_with_text {
    display: flex;
    align-items: center;
}
.container .content .center .post-body .two-div .head .eclips i {
    padding: .5rem;
    transition: all .2s ease-out;
}
.container .content .center .post-body .two-div .head .eclips i:hover {
    background-color: #3a3b3c;
    border-radius: 50%;
}

.container .content .center .post-body .post-pictures {
    margin: 0 5rem;
    
}

.post-text p {
    margin: 0;
}

.logo_with_text .texts .line-height {
    line-height: 0;
    margin: 0;
}

.post-picture {
    margin: 0 7rem;
    
}


.container .content .center .post-body .post-pictures .picture2 {
    display: flex;
}

.container .content .center .post-body .post-pictures .picture2 .pictureOne img, .container .content .center .post-body .post-pictures .picture2 .pictureTwo img {
    flex: 1;   
   width: 300px;
   height: 300px;
   border: 2px solid #303031 
}
.container .content .center .post-body .post-pictures .picture3 {
    display: flex;
    top: -20px;
}
.container .content .center .post-body .post-pictures .picture3 img {
    flex:1;
    width: 200px;
    height: 150px;
    border-right: 2px solid #18191a;
}
.container .content .center .post-body .post-pictures .picture3 .tootoi {
    position: relative;
}
.container .content .center .post-body .post-pictures .picture3 .tootoi::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}
.container .content .center .post-body .post-pictures .picture3 .tootoi p {
    position: absolute;
    top: 38px;
    left: 81px;
    font-size: 36px;
}

.rating {
    display: flex;
    margin: 0 7rem;
    padding: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #242526;
    top: -10px;
}

.rating .like {
    display: flex;
    align-items: center;
}
.rating .like img {
    margin-right: .5rem;
}

.rating .comments {
    display: flex;
    align-items: center;
    
}

.rating .comments .one {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.rating .comments .one p {
    margin-right: .3rem;
}
.rating .comments .two p {
    margin-right: .3rem;
}
.rating .comments .two {
    display: flex;
    align-items: center;
}
.container .content .right {
    flex: 1.25;
}

.right-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 
.right-content .icons {
    display: flex;
    align-items: center;
}
.right-content .icons .icon {
    padding: .5rem;
    transition: all .1s ease;
}

.right-content .icons .icon:hover {
    border-radius: 50%;
    background-color: #5f5f69;
}

.peoples {
    display: flex;
    flex-direction: column;
    position: relative;
}

.people {
    display: flex;
    align-items: center;    
    
    transition: all .3s ease;
}
.people .dot {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 36px;
    left: 25px;
}

.people:hover {
    background-color: #3a3b3c;
    border-radius: 10px;
    cursor: pointer;
}

.people img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: .5rem;
}

.people .dot1 {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 84px;
    left: 25px;
}

.people .dot2 {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 132px;
    left: 25px;
}
.people .dot3 {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 183px;
    left: 25px;
}
.people .dot4 {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 232px;
    left: 25px;
}
.people .dot5 {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 281px;
    left: 25px;
}
.people .dot6 {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 332px;
    left: 25px;
}

.right .sponsor {
    display: flex;
    flex-direction: column;
}

.right .sponsor .sponsor-content {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.right .sponsor .sponsor-content:hover {
    background-color: #3a3b3c;
    border-radius: 20px;
}

.right .sponsor .sponsor-content img {
    width: 100px;
    height: 110px;
    border-radius: 10px;
    margin-right: 1rem;
}

.right .sponsor .sponsor-content h4 {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.profile img {
    cursor: pointer;
}
