// Үндсэн стайл
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1rem;
    background-color: #18191a;
    color: #fff;
}

a {
    text-decoration: none;
}

// Utility class
.main-color {
    background-color: #18191a;
}

.sup-color {
    background-color: #3a3b3c;
}

.icon-color {
    background-color: #b0b3b8;
}
.padding {
    padding: 1rem;
}

// Navbar style
nav {
    height: 56px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #3a3b3c;
    margin: 0 1rem 0 .5rem;
}

.navbar .logo {
    display: flex;
    align-items: center;
    align-content: center;

}

.navbar .logo .picture {
    width: 40px;
    height: 40px;
    padding-right: .5rem;
}

.navbar .logo .input {
    border-radius: 20px;
    padding: .5rem;    
    display: flex;
    align-items: center;
}

.navbar .logo .input .glass {
    padding-right: .5rem;
}

.navbar .logo .input input {
    outline: none;
    border: none;
    color: #b0b3b8;
}

.navbar .icons {
    align-self: center;
    display: flex;
    align-items: center;
    align-content: center;
}



.navbar .icons .daragdsan {
    color: #0866ff;    
    border-bottom: 2px solid #0866ff;
}

.navbar .sign {
    display: flex;
    align-items: center;
}

.navbar .sign .markup {
    position: relative;
}
.navbar .sign .markup .mark {
    position: absolute;
    background-color: red;
    top: -2px;
    left: 26px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.navbar .sign .markup .mark:after {
    content: '16';
    position: absolute;
    font-size: 11px;
    top: 1px;
    left: 3px;
}

.navbar .sign .circle {
    padding: .6rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.navbar .sign .my-picture img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}


// Sidebar styles


.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ccc;
    font-weight: 600;
    margin-top: 1rem;
    

}

.sidebar .page-icon {
    display: flex;
    align-items: center;
    padding: .3rem  ;
    transition: all .2s ease-in;
    
}

.sidebar .page-icon img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    
}

.sidebar .page-icon .my-icon {
    margin-right: .75rem;
}

.sidebar .page-icon .circle {
    background-color: #303031;
    padding: .5rem .55rem;
    border-radius: 50%;
    margin-left: .1rem;
}
.sidebar .last-child  {
    border-bottom: 1px solid #3a3b3c;
}

.sidebar .page-icon:hover {
    background-color: #3a3b3c;
    border-radius: 12px;
}

.sidebar .shortcuts {
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
}

.sidebar .shortcuts .shortcut {
    display: flex;

}

.sidebar .shortcuts .shortcut img {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    margin-right: .5rem;
}

// Үндсэн зургийн хэсэг
.container {
    display: flex;
    
}

.left {
   
}

.center {
    
  
    
}

// .center .stories {
//     display: flex;
//     justify-content: space-between;
// }

// Баруун хэсэг
.right {
    
}