@media  screen and (max-width: 500px) {
    header {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .navbar .logo .line, .navbar .input .input-with input  {
        display: none;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .logo img {
        padding: 18px 8px 18px 8px;       
    }
    .glass {
        margin-left: 1rem;
    }
    .mic img {
        margin-left: 3rem;
        padding: 0.5rem;
        background-color: #fff;
        border-radius: 50%;
        
     }

    .navbar .icons {
        display: flex;
    }

    .navbar .input .input-with .glass {
        background-color: #fff;
        border: none;
    }

    .container .left {
      display: none;  
    }

    .container .right {
        padding: 0 .5rem;
    }
    .container .right .filter .btn:nth-child(5),
    .container .right .filter .btn:nth-child(6),
    .container .right .filter .btn:nth-child(7),
    .container .right .filter .btn:nth-child(9),
    .container .right .filter .btn:nth-child(10) {
        display: none;

    }
    * {
        cursor: pointer;
    }
    
    .videos .videos-in {
        flex: 1;
    }
}