body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


header {
  margin-top: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  
}


.logo {
  flex: 1;
  display: flex;  
  align-items: center;  
  width: 40px;
  height: 40px;
}

.logo .line {
 
 width: 18px;
 height: 18px;
 margin-left: 1rem;
}

.logo-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: 0;
}



.line {
  cursor: pointer;
  width: 24px;
  height: 24px;    
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.line > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 1px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.line > div::after, .line > div::before {
  content: '';
  position: absolute;
  top: -6px;
  width: 100%;
  height: 1px;
  background-color: inherit;
  
}

.line > div::after {
  top: 6px;
}



.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.input-with {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  border: 1px solid #444;
  border-radius: 20px; 
  width: 560px; 
  
  
}



input {
  outline: none;
  // padding: 
  margin-right: 8px;
  margin-left: .5rem;
  border: none;
  border-right: 1px solid #444;
  height: 24px;
  width: 100%;
}

.glass {
  padding: 0.5rem ;
  
}

.mic {
  margin-left: 0.5rem;
  padding: 0.5rem;
  background-color: #ccc;
  border-radius: 50%;
}

.icons {  
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.camera {
  margin-right: 1rem;
}

.bell {
  margin-right: 1rem;
}

.sign {
  margin-right: 2rem;
}


.container {
  display: flex;
  
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0 1rem; 
  border-radius: 20px; 
}

.box p {
  width: 180px;
}

.box1 {
  display: flex;
  align-items: center;
  
}

.group3 .box1 div {
  color: blue;
}

.s-img {
  margin-right: 1rem;
  
}

.group3 .box1 h4 {
  margin-right: 1rem;
}


.group .box:first-child {
  background-color: #eee;
}


.short-img {
  width: 60px;
  height: 60px;
}

.group {
  border-bottom: 1px solid #ccc;
  padding: 0 0.5rem;
}

.group1 {
  border-bottom: 1px solid #ccc;
  padding: 0 0.5rem;
}

.group1 .box:first-child {
  background-color: none;
}

.right {
  flex: 8;
  display: flex;
  flex-direction: column;

}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 0.3rem 0.5rem;
  background-color: #ddd;
  border: none;
  border-radius: 8px;
}

.btn:first-child {
  background-color: #444;
  color: #fff;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1rem;
}


 .videos-in {
  display: flex;
  flex-direction: column;
}


.picture-text {
  display: flex;
  
  width: 283px;
  // justify-content: space-between;
  // align-items: center;
 margin-top: 1rem;
}

.picture-text .texts h4 {
  margin: 0;
}

.picture {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem  
}

.texts {
  flex-wrap: wrap;
}




img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

video {
 width: 323px;
 height: 243px;
 object-fit: fill;
 border-radius: 20px;
 margin: 0.5rem 0;
}
