@media  screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        display: flex;
    }


    .container .left  {
        flex: 1.5;
        display: flex;
        flex-direction: column;        
        align-items: flex-start;
        align-self: flex-start;

    }

    .container .left .box {
        display: flex;
        flex-direction: column;
        width: 22px;
        word-wrap: wrap;
    }
    .container .left .box p {
        text-align: center;
        font-size: 12px;
    }

    .group {
        padding: .2rem;
    }
}