* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #eaa0a2;
}

 body {
    line-height: 1.4;
    color: #333;
 }

 /* Header */
 header {   
    height: 56px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
 } 
 

 .header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
 }

 .navbar {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
 }

 .navbar li a {
   padding: .5rem;
}

#home, #about, #works {
   border-bottom: 1px solid #eaa0a2;
}

.home-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 4rem;
 }

 .about-container {
   padding: 2rem;
   display: flex;
 }

 .about-container .texts {
   margin: 0 2rem;
 }


 

.skills{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 2rem;
}
.skill-card{
   padding: 1.75rem 2.5rem;
   border-radius: 10px;
   width: 150px;
   height: 220px;
   background-color: #777;
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.skill-header{
   
   padding: .5rem;
   text-align: center;
   font-weight: 600;
   position: relative;
}
.hr1::after {
   content: '';
   position: absolute;
   top: 33px;
   left: -6px;
   width: 100px;
   height: 1px;
   background-color: #eaa0a2;
}
.hr2::after {
   content: '';
   position: absolute;
   top: 33px;
   left: -22px;
   width: 100px;
   height: 1px;
   background-color: #eaa0a2;
}
.hr3::after {
   content: '';
   position: absolute;
   top: 33px;
   left: 0px;
   width: 100px;
   height: 1px;
   background-color: #eaa0a2;
}
.hr4::after {
   content: '';
   position: absolute;
   top: 33px;
   left: -22px;
   width: 100px;
   height: 1px;
   background-color: #eaa0a2;
}


.skill-details {
   list-style-type: none;
   padding: 10px;  
}

.skills {
   padding-bottom: 2rem;
   border-bottom: 1px solid #eaa0a2;
}

.work-container {
   display: flex;
   flex-direction: row;
}

.work-img img {
   width: 100px;
   height: 40px;
}

.work-container{
   width: 90vw;
   display: flex;
   justify-content: space-around;
   margin-bottom: 3rem;   
}

.work-card{
   border: 1px solid #eaa0a2;
   display: flex;
   flex-direction: column;
   padding: 0 20px;
   padding-bottom: 20px;
}

.work-img{
   width: 300px;
   height: 180px;
   object-fit: contain;
}

.languages{
   border-bottom: 1px solid #eaa0a2;
}

.work-header{
   padding-bottom: 10px;
   border-bottom: 1px solid #eaa0a2;
}

.visit{
   width: 80px;
   height: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: .3rem;
   border: 1px solid #eaa0a2;
   padding: 0;
   color: black;
   border-radius: 5px;
   transition: all .2s ease;
}

.visit:hover {
   background-color: #eaa0a2;
   color: #777;
}
   
.contact {
   padding: 1rem;
}
 
